/* Created by: Lily
* Created on: 03/21/2023
* This CSS file defines the style for index.html
* ICS2O-Unit2-05-HTML-Salary
*/

body {
  background-color: plum;
}

h1 {
  background-color: #e8c8ee;
  color: hsl(293deg 100% 34%);
  padding: 40px;
  text-align: center;
}

h3 {
  background-color: #9900ad;
  color: #fff;
}

div {
  font-weight: bold;
  color: #fff;
  margin: 5px;
}

#display-results {
  background-color: #8e439d;
}
